$background: #2C4B4B;    /* Dark green */
$background_dark: #111516; /* Almost black */
$accent_1: #79909B;    /* Grey */
$accent_2: #569DA5;    /* Teal */
$accent_3: #B7D5D4;    /* Ice blue */
$textcolor: #E3F2F1;    /* Almost white */


/* More body padding if screen is 576px or wider, so navbar doesn't hide body */
@media (min-width: 576px) {
    body {
      padding-top: 60px;
    }
}
@media (max-width: 575px) {
    body {
      padding-top: 180px;
    }
}

form {
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}
input {
    background-color: $textcolor !important;
}

/* Navbar */
.navbar-brand {
    color: $accent_2 !important;
    font-weight: 700 !important;
}
.navbar {
    background-color: $background_dark !important;
}
.nav-item a:link, .nav-item a:visited {
    color: $accent_1 !important;
    font-weight: 500 !important;
}
.nav-item a:hover, .nav-item a:active {
    color: $accent_3 !important;
    font-weight: 500 !important;
}


.row {
    padding: 50px;
}

body {
    background-color: $background;
    color: $textcolor;
}

.col {
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Links */
%link {
    text-decoration-line: underline;
    font-weight: 500;
}
.container a:link, .container a:visited {
    @extend %link;
    color: $accent_2;

}
.container a:hover, .container a:active {
    @extend %link;
    color: $accent_1;
}

.text-muted {
    color: $accent_1 !important;
}

::selection {
    color: $textcolor;
    background-color: $background_dark;
}