{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4">Welcome to Weather.expert</h1>
                    {% if session.user_id %}
                        <p>Would you like to <a href="{{ url_for('search') }}">look up</a> a location?</p>
                    {% else %}
                        <p><a href="{{ url_for('register') }}">Register</a> or <a href="{{ url_for('login') }}">log in</a> to look up a location.</p>
                    {% endif %}
                </div>
            </div>
    </div>
{% endblock %}