{% extends "layout.html" %}

{% block title %}
    Location information
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">{{ location.city }}</h1>
                <p class="lead">Zipcode: <a href="https://www.google.com/maps/search/?api=1&query={{ location.zipcode }}">{{ location.zipcode }}</a></br>
                Latitude, longitude: {{ location.latitude }}, {{ location.longitude }}</br>
                Population: {{ location.population }} inhabitants</br>
                Total check-ins: {{ numcheckins }}</p>
            </div>
            <div class="col-md-6">
                <h1 class="display-4">{{ weather.summary }} // {{ weather.temperature }}°F</h1>
                <p class="lead">Time: {{ weather.time }}</br>
                Dew point: {{ weather.dewPoint }}°F</br>
                Humidity: {{ weather.humidity }}%</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="{{ url_for('location', location_id=location.location_id) }}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <input autocomplete="off" autofocus class="form-control" name="comment" id="comment" type="text"/>
                            <small id="comment_help" class="form-text text-muted">
                                You can leave this field blank.
                            </small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-secondary" type="submit">Check In</button>
                        </div>
                    </fieldset>
                </form>
                {% if checkins %}
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <th scope="col">User</th>
                            <th scope="col">Time</th>
                            <th scope="col">Comment</th>
                        </thead>
                        <tbody>
                        {% for checkin in checkins %}
                            <tr>
                                <td>{{ checkin.first_name }}</td>
                                <td>{{ checkin.time }} UTC</td>
                                <td>{{ checkin.comment }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
