{% extends "layout.html" %}

{% block title %}
    Search location
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if error %}
                    <div class="alert alert-dark"><strong>Error:</strong> {{ error }}</div>
                {% endif %}
                <form action="{{ url_for('search') }}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="query">City or postal code</label>
                            <input autocomplete="off" autofocus class="form-control" name="query" id="query" type="text"/>
                            <small id="query_help" class="form-text text-muted">
                                Enter the name of a town or city or a ZIP code.
                            </small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </div>
                    </fieldset>
                </form>
                {% if query %}
                    <div>You have searched for: <strong>{{ query }}</strong></div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if locations %}
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <th scope="col">Zipcode</th>
                            <th scope="col">Location</th>
                        </thead>
                        <tbody>
                        {% for location in locations %}
                            <tr>
                                <td>{{ location.zipcode }}</td>
                                <td><a href="{{ url_for('location', location_id=location.location_id) }}">{{ location.locationname_id }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
